.logoarea{
    max-width:920px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
   overflow: hidden;
}


.menu{
    background-color: white;
    height: 62px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 920px;
    float: left;
    color: black;
}


.companyname{
    margin-left: auto;
    margin-right: auto;
    
}